<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 id="pv_ip">Your private IP :&nbsp;</h2>

    <h2>Register a new sync task :</h2>

    <form action="/register">
        <input name="remote_addr" type="text" placeholder="remote machine address">
        <input type="text" name="sync_root" placeholder="folder full path (this machine)">
        <input type="submit">
    </form>

    <h2>Connect to a sync task :</h2>

    <form action="/connect">
        <input name="remote_addr" type="text" placeholder="remote machine address">
        <input type="text" name="sync_root" placeholder="folder full path (this machine)">
        <input type="text" name="sync_id" placeholder="sync id" autocomplete="off">
        <input type="submit">
    </form>

    <p>The end folder should be empty as all the files and folders available at the other end will be copied.</p>

    <h2>Current sync tasks :</h2>
    <br>

    <table>
        <tr>
            <td>sync_id</td> 
            <td>root directory</td>
            <td>remote address</td> 
            <td>is a local-to-local second end</td>
            <td>paused</td>
            <td>action</td>
        </tr>
        {{range .}}
            <tr>
                <td><button onclick="copy('{{.Sync_id}}')">Copy sync_id</button></td> 
                <td>{{.Sync_root}}</td> 
                <td>{{.Remote_addr}}</td> 
                <td>{{.Is_local_second_end}}</td> 
                <td>{{.Is_task_paused}} <button onclick="change_task_state('{{.Sync_id}}','{{.Is_local_second_end}}','{{.Remote_addr}}',false)">start/stop task</button></td>
                <td><button onclick="delete_sync_task('{{.Sync_id}}','{{.Is_local_second_end}}','{{.Remote_addr}}','{{.Is_task_paused}}')">delete task</button></td>
            </tr> 
        {{end}}
    </table>


    <script>
        function copy(text) {
            /* Copy the text inside the text argument */
            navigator.clipboard.writeText(text);
          
            /* Alert the copied text */
            //alert("Copied sync_id : " + text);
        }

        function change_task_state(sync_id,is_local_second_end,remote_addr,is_from_delete){

            x = new XMLHttpRequest();
            if(remote_addr == "localhost:9214"){
                x.open("GET","http://localhost:9214/utils/change_task_state?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end,true);
                x.send();
            }else{
                x.open("GET","http://localhost:9214/utils/change_task_state?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end,true);
                x.send()
            }

            if(!is_from_delete){
                setTimeout(reload,1000);
            }
            
        }
        
        function delete_sync_task(sync_id,is_local_second_end,remote_addr,Is_task_paused){

            //before all, pause task
            if (Is_task_paused != "true"){
                change_task_state(sync_id,is_local_second_end,remote_addr,true);
            }
            
            
            // now delete database files
            x = new XMLHttpRequest();
            if(remote_addr == "localhost:9214"){
                x.open("GET","http://localhost:9214/utils/delete_sync_task?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end,true);
                x.send();
            }else{
                x.open("GET","http://localhost:9214/utils/delete_sync_task?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end,true);
                x.send();
                x.open("GET","http://"+remote_addr+"/delete_sync_task?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end,true);
                x.send();
            }

            setTimeout(reload,5000); 
            
        }


        function reload(){
            document.location.reload(true);
        }

        function get_pv_ip(){
            x = new XMLHttpRequest();
            x.open("GET","http://localhost:9214/utils/get_private_ip",true);
            
            x.onreadystatechange = function() {
                if (x.readyState === 4) {
                    private_ip = x.response;
                    document.getElementById("pv_ip").innerText += private_ip;
                }
            }
            
            x.send()
        }



        get_pv_ip();
    </script>

    <style>
        table, th,td{
            border:1px solid black;
        }
    </style>

</body>
</html>