<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register a new sync task :</h2>

    <form action="/register">
        <input name="remote_addr" type="text" placeholder="remote machine address">
        <input type="text" name="full_path" placeholder="folder full path (this machine)">
        <input type="submit">
    </form>

    <h2>Connect to a sync task :</h2>

    <form action="/connect">
        <input name="remote_addr" type="text" placeholder="remote machine address">
        <input type="text" name="sync_root" placeholder="folder full path (this machine)">
        <input type="text" name="sync_id" placeholder="sync id" autocomplete="off">
        <input type="submit">
    </form>

    <p>The end folder should be empty as all the files and folders available at the other end will be copied.</p>

    <h2>Current sync tasks :</h2>
    <br>

    <table>
        <tr>
            <td>sync_id</td> 
            <td>root directory</td>
            <td>remote address</td> 
            <td>is a local-to-local second end</td>
            <td>paused</td>
            <td>action</td>
        </tr>
        {{range .}}
            <tr>
                <td><button onclick="copy('{{.Sync_id}}')">Copy sync_id</button></td> 
                <td>{{.Sync_root}}</td> 
                <td>{{.Remote_addr}}</td> 
                <td>{{.Is_local_second_end}}</td> 
                <td>{{.Is_task_paused}} <button onclick="change_task_state('{{.Sync_id}}','{{.Is_local_second_end}}','{{.Remote_addr}}')">start/stop task</button></td>
                <td><button onclick="delete_sync_task('{{.Sync_id}}','{{.Is_local_second_end}}','{{.Remote_addr}}')">delete task</button></td>
            </tr> 
        {{end}}
    </table>


    <script>
        function copy(text) {
            /* Copy the text inside the text argument */
            navigator.clipboard.writeText(text);
          
            /* Alert the copied text */
            //alert("Copied sync_id : " + text);
        }

        function change_task_state(sync_id,is_local_second_end,remote_addr){

            x = new XMLHttpRequest();
            if(is_local_second_end == "true"){
                x.open("GET","http://localhost/change_task_state?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end);
                x.send();
            }else{
                x.open("GET","http://localhost/change_task_state?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end);
                x.send();
                x.open("GET","http://"+remote_addr+"/change_task_state?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end);
                x.send();
            }

            setTimeout(reload,1000); 
            
        }
        
        function delete_sync_task(sync_id,is_local_second_end,remote_addr){

            x = new XMLHttpRequest();
            if(is_local_second_end == "true"){
                x.open("GET","http://localhost/delete_sync_task?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end);
                x.send();
            }else{
                x.open("GET","http://localhost/delete_sync_task?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end);
                x.send();
                x.open("GET","http://"+remote_addr+"/delete_sync_task?sync_id="+sync_id+"&is_local_second_end="+is_local_second_end);
                x.send();
            }

            setTimeout(reload,1000); 
            
        }


        function reload(){
            document.location.reload(true);
        }
    </script>

    <style>
        table, th,td{
            border:1px solid black;
        }
    </style>

</body>
</html>